.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

td input {
    text-align: right;
}

.table-analysis {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 2.5% 0px 2.5%;
}

.table-analysis header {
    width: 100%;
    text-align: center;
}

.table-analysis header h1 {
    margin-bottom: 0px;
}

.table-analysis header p {
    margin: 0.5em 0px 1.5em 0px;
    text-align: center;
}

.table-analysis fieldset {
    border: none;
}

.table-analysis p {
    text-align: left;
}

.form-header,
.form-gensen,
.form-applicant,
.form-facility,
.form-investigation,
.form-test,
.form-footer {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.form-component,
.form-total,
.form-quality,
.form-usage {
    width: 100%;
}

.form-total p:first-child {
    margin: 1.25em 0px 0.25em 0px;
}

.form-total p {
    margin: 0.25em 0px 0.25em 0px;
    text-align: right;
}

.form-total span:last-child {
    display: inline-block;
    width: 8em;
}

.form-investigation,
.form-test {
    width: 50%;
    margin: 0px;
    padding: 0px;
}

.form-header .form-list,
.form-gensen .form-list,
.form-applicant .form-list,
.form-facility .form-list {
    display: flex;
    margin: 0.25em 0px 0.25em 0px;
    padding: 0px;
}

.form-component .form-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.form-header .form-list > *,
.form-gensen .form-list > *,
.form-applicant .form-list > *,
.form-facility .form-list > * {
    flex: 1 1 50%;
    margin: 0px;
    padding: 0px;
}

.form-investigation .form-list > * ,
.form-test .form-list > * {
    margin: 0.25em 0px 0.25em 0px;
    padding: 0px;
}

.form-component .form-list > * {
    display: block;
    flex: 1 1 50%;
    background-color: #f8f8f8;
    margin: 0px;
    padding: 0px;
}

.form-header label > span,
.form-gensen label > span,
.form-applicant label > span,
.form-facility label > span,
.form-investigation label > span,
.form-test label > span {
    display: inline-block;
    width: 10em;
}

.form-header input,
.form-gensen input,
.form-applicant input,
.form-facility input {
    width: calc(100% - 14em);
}

td.column-name {
    text-align: left;
}

td.column-mg, td.column-mval, td.column-mvalPercent, td.column-mmol {
    text-align: right;
}

.form-dissolved .column-name,
.form-others .column-name,
.form-minor .column-name {
    width: 14em;
}

.form-usage .form-list {
    display: flex;
    flex-wrap: wrap;
}

.form-usage h3 {
    display: block;
}

.form-usage .form-list > * {
    flex: 1 1 35%;
    margin: 0.25em 0px 0.25em 0px;
}

.form-usage span {
    display: inline-block;
    width: 6em;
}

.form-usage input {
    width: calc(100% - 9em);
}

.form-footer textarea {
    width: 100%;
}

.hidden {
    display: none;
}

.app-header {
    background-color: #fffe;
    width: 100vw;
    height: 3.0em;
    font-size: 1rem;
    text-align: left;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: solid 1px #ddd;
    display: flex;
}

.app-header h1 {
    margin: auto auto auto 2em;;
    text-align: left;
    font-size: 1.5em;
}

.app-header h1 a {
    text-decoration: none;
    color: #000;
}

.app-nav {
    margin: auto 4em auto auto;
}

.app-nav li {
    display: inline-block;
    margin: 0px 0.5em 0px 0.5em;
}

.select_view-nav {
    text-align: right;
}

.select_view-nav button {
    margin: 1% 0.25em 0em 0.25em;
    padding: 0.5em;
    border: #000 solid 1px;
    border-radius: 2px;
    min-width: 4em;
    background: #fff;
}

.app-body {
    margin: 3.0em 0em 0em 0em;
    padding: 2em 2em 0em 2em;
}

.search-list .search-form {
    margin-left: 2em;
}

.search-list ul {
    list-style: circle;
}

.search-item {
    margin: 0.5em 0px 0.5em 0px;
    background-color: #fff;
}

.search-item a {
    text-decoration: none;
}

.search-item:hover {
    background-color: #eee;
}

.search-item__title {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.search-item__detail {
    color: #888;
}

.pages {
    text-align: center;
}

.pages ul {
    display: inline-block;
    padding: 0px;
}

.pages li {
    display: inline-block;
    margin: 0px 0.25em 0px 0.25em;
    min-width: 2em;
    text-align: center;
    list-style: none;
    border: solid #ccc 1px;
}

.pages li:hover {
    background-color: #f88;
}

.pages li.current {
    background-color: #fee;
}

.pages li a {
    display: block;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
}

.container-export {
    width: calc(100% - 2em);
    height: 75vh;
    padding: 0.5em 1em 1em 1em;
}

.container-export pre {
    width: calc(100% - 1em);
    height: 100%;
    border: 1px solid #000;
    background-color: #eee;
    text-align: left;
    padding: 0.5em;
    overflow: scroll;
}
