.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

td input {
    text-align: right;
}

.table-analysis fieldset {
    border: none;
}

.table-analysis p {
    text-align: left;
}

.form-header {
    text-align: right;
}

.form-applicant p, .form-gensen p, .form-investigation p, .form-test p {
    margin: 0.25em;
}

.form-applicant label > span {
    display: inline-block;
    width: 10em;
}

.form-gensen label > span {
    display: inline-block;
    width: 10em;
}

.form-investigation, .form-test {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.form-investigation label > span {
    display: inline-block;
    width: 10em;
}

.form-test label > span {
    display: inline-block;
    width: 10em;
}

.form-positiveion, .form-negativeion {
    background-color: #f8f8f8;
    display: inline-block;
    width: 45%;
}

.form-dissolved, .form-minor {
    background-color: #f8f8f8;
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

td.column-name {
    text-align: left;
}

td.column-mg, td.column-mval, td.column-mvalPercent, td.column-mmol {
    text-align: right;
}

.form-dissolved .column-name, .form-others .column-name {
    width: 11em;
}

.hidden {
    display: none;
}

.app-header {
    background-color: #fffe;
    width: 100vw;
    height: 3.0em;
    font-size: 1rem;
    text-align: left;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: solid 1px #ddd;
    display: flex;
}

.app-header h1 {
    margin: auto auto auto 2em;;
    text-align: left;
    font-size: 1.5em;
}

.app-header h1 a {
    text-decoration: none;
    color: #000;
}

.app-nav {
    margin: auto 4em auto auto;
}

.app-nav li {
    display: inline-block;
    margin: 0px 0.5em 0px 0.5em;
}

.select_view-nav {
    text-align: right;
}

.select_view-nav button {
    margin: 1% 0.25em 0em 0.25em;
    padding: 0.5em;
    border: #000 solid 1px;
    border-radius: 2px;
    min-width: 4em;
    background: #fff;
}

.app-body {
    margin: 3.0em 0em 0em 0em;
    padding: 2em 2em 0em 2em;
}

.search-list .search-form {
    margin-left: 2em;
}

.search-list ul {
    list-style: circle;

}

.container-export {
    width: calc(100% - 2em);
    height: 75vh;
    padding: 0.5em 1em 1em 1em;
}

.container-export pre {
    width: calc(100% - 1em);
    height: 100%;
    border: 1px solid #000;
    background-color: #eee;
    text-align: left;
    padding: 0.5em;
    overflow: scroll;
}
